[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==3.7.0"
sympy = "==1.11.1"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
